body{
  display: flex;
  height: 100vh;
  background: #fafafa;
  align-items: center;
  justify-content: center;
}

.wrapper{
  width:300px;
}

.outputscreen{
  background: #eee;
  text-align: left;
  line-height: 30px;
  padding: 10px;
}

.outputscreen p{
  margin: 0;
}
/* .result {
  height: 60px;
  background-color: #bbb;
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;

}

.calculator-body {
  max-width: 400px;
  margin: auto;
}

.button {
  display: block;
  background-color: #bbb;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
} */

